/****** General ***********/
* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

header {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 15%;
}
.logo {
  display: flex;
  position: absolute;
  width: 4rem;
  height: auto;
  top: 30%;
}
nav {
  display: flex;
  position: absolute;
  gap: 3rem;
  top: 0;
  right: 0;
}

nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 3rem;
  background: linear-gradient(
      to bottom,
      #0065fc 0%,
      #0065fc 3px,
      transparent 1.1px
    )
    no-repeat;
  background-size: 0 100%;
  transition: background-size 0.7s ease;
}
nav a:visited {
  color: black;
}
nav a:hover {
  background-size: 100% 100%;
  color: #0065fc;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 3rem;
  box-sizing: border-box;
}
.titre {
  font-weight: 700;
  font-size: 22px;
}
.description {
  font-weight: 400;
  font-size: 16px;
}
.section-title {
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0 3px 15px rgba(0, 0, 0, 0.1));
}
.card:hover {
  cursor: pointer;
}

.card img {
  object-fit: cover;
  padding: 0.2rem;
}

.card-title {
  font-size: medium;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}
input {
  outline: transparent;
}

/****** Infos, Recherche et Filtre ***********/

/****INFOS*****/

.infos {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 0 2.5rem 0;
}

.searchbar-filtre {
  display: flex;
  flex-direction: column;
  margin: 0 0 2rem 0;
}

/****** Recherche *****/

.searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3rem;
  margin: 0 0 2.5rem 0;
}
.icone-position {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0 0 15px;
  color: black;
  font-size: 18px;
}

#recherche {
  height: 3rem;
  width: 15rem;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  padding-left: 0.5rem;
}
#recherche::placeholder {
  font-weight: 300;
  font-size: medium;
  opacity: 0.3;
  color: black;
}

.bouton-recherche {
  width: 8rem;
  height: 3rem;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  background-color: #0065fc;
  border: 1px solid #0065fc;
  border-radius: 0 15px 15px 0;
}
.bouton-recherche-loupe {
  display: none;
}

/******Filtre******/

.barre-filtres {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin: 0 0 2.5rem 0;
  position: relative;
}
.titre-filtres {
  font-weight: 700;
  font-size: 18px;
  position: relative;
}
.barre-boutons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.barre-filtres button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: none;
  height: 3rem;
  padding: 0.4rem 1.2rem;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 700;
  font-size: 17px;
  gap: 0.5rem;
}
.barre-filtres button:hover {
  background-color: #deebff;
}
.barre-filtres button i {
  font-size: 22px;
}
.alerte-infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 2rem 0 2rem 0;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  position: relative;
}
.section-title {
  padding-left: 2rem;
}

.hebergements-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
  padding: 0 2rem;
}
.hebergements-cards .card {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 30%;
  height: auto;
}

.hebergements-cards img {
  height: 7rem;
  border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
  width: 100%;
  padding-left: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin-bottom: 0.3rem;
  margin-top: 0.5rem;
}

.hebergements-cards .card-subtitle {
  margin-bottom: 0.5rem;
}

.hebergements-cards .card-rating {
  margin-bottom: 0.5rem;
}
.plus {
  font-weight: 800;
  padding-left: 2rem;
  position: absolute;
  bottom: 2rem;
}
/****** Populaires ***********/
.populaires {
  width: 32%;
}
.populaires-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
}
.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
}

.populaires-cards .card {
  display: flex;
  margin: 2rem 2rem 0 2rem;
}

.populaires-cards img {
  width: 33%;
  height: 8rem;
  border-radius: 20px 0 0 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 0.8rem;
  margin-bottom: 0.3rem;
}

.populaires-cards .card-rating {
  margin-bottom: 0.4rem;
}

/**** Activités****/

.activites {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.activites section {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 4rem 0;
  box-sizing: border-box;
}
.activites-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 14px;
}
.activites-cards .card {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 22%;
  height: 25rem;
}

.activites-cards img {
  height: 85%;
  border-radius: 20px 20px 0 0;
  padding: 0;
}

.activites-cards .card-content {
  display: flex;
  align-items: center;
  height: 15%;
  padding-left: 1rem;
}

.activites-cards .card-title {
  display: flex;
  flex-wrap: wrap;
}

/***** Footer *****/
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  background-color: var(--main-bg-color);
  border-radius: 20px 20px 0 0;
}
footer a {
  text-decoration: none;
  color: black;
}
footer a:hover {
  text-decoration: underline;
}

footer section {
  display: flex;
  flex-direction: column;
  width: 33%;
  padding: 2rem 0 2rem 2rem;
  line-height: 2rem;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1200px) */
@media (max-width: 1200px) {
  .barre-filtres {
    flex-direction: column;
    align-items: flex-start;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements-and-populaires section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .section-title {
    padding-left: 2rem;
  }
  .hebergements {
    width: 100%;
  }
  .hebergements-cards {
    justify-content: space-evenly;
    padding: 0 0 2rem 0;
  }

  .plus {
    bottom: 1.5rem;
  }
  .populaires {
    width: 100%;
    margin-top: 3rem;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .populaires-cards .card {
    width: 30%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .activites-cards .card {
    height: 15rem;
  }
  .activites-cards img {
    height: 75%;
  }

  .activites-cards .card-content {
    height: 25%;
  }

  .card-title {
    font-size: small;
  }
  .card-subtitle {
    font-size: x-small;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 900px) {
  .main-container {
    width: 100vw;
    padding: 0;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header {
    flex-direction: column;
  }
  .logo {
    justify-content: center;
  }
  nav {
    width: 100%;
    justify-content: center;
    gap: 0;
    position: absolute;
    top: 70%;
  }
  nav a {
    width: 100%;
    justify-content: center;

    background: linear-gradient(
        to top,
        #0065fc 0%,
        #0065fc 3px,
        transparent 1.1px
      )
      no-repeat;
    background-size: 0 100%;
  }

  .infos {
    padding: 2rem 2rem 0 2rem;
  }

  .searchbar-filtre {
    padding: 0 2rem 0 2rem;
    align-items: center;
  }
  .searchbar {
    position: relative;
    justify-content: center;
  }

  .bouton-recherche {
    display: none;
  }

  .bouton-recherche-loupe {
    display: flex;
    width: 3rem;
    height: 3rem;
    font-size: 18px;
    position: absolute;
    right: -1rem;
    align-items: center;
    justify-content: center;
    background-color: #0065fc;
    border: 1px solid #0065fc;
    border-radius: 15px 15px 15px 15px;
  }

  .icone-loupe {
    color: #ffffff;
  }
  .barre-boutons {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .barre-boutons .fa-solid {
    font-size: 20px;
  }
  .barre-boutons button {
    width: 40%;
    justify-content: center;
    font-size: 14px;
    max-width: 15rem;
    min-width: 8rem;
  }

  .alerte-infos {
    font-size: 14px;
  }
  .card img {
    padding: 0.4rem;
  }

  .hebergements-and-populaires section {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0;
  }

  .hebergements-cards {
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
  }

  .hebergements-cards .card {
    width: 100%;
    height: 15rem;
    margin-top: 1.5rem;
  }
  .hebergements-cards .card-content {
    height: 55%;
    justify-content: flex-start;
  }

  .hebergements-cards .card-title {
    margin-bottom: 0.3rem;
    margin-top: 0.5rem;
  }

  .hebergements-cards .card-subtitle {
    margin-bottom: 0.5rem;
  }

  .hebergements-cards .card-rating {
    margin-bottom: 0;
  }
  .hebergements-cards img {
    height: 70%;
  }

  .plus {
    position: relative;
    bottom: -1rem;
  }

  .card-title {
    font-size: large;
  }
  .card-subtitle {
    font-size: medium;
  }
  .activites-cards .card-content {
    /* padding-left: 0.5rem; */
  }
  footer {
    border-radius: 0;
    flex-direction: column;
  }
}
