/****** General ***********/
* {
  font-family: 'Raleway', sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

header {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 15%;
}
.logo {
  display: flex;
  position: absolute;
  width: 4rem;
  height: auto;
  top: 3rem;
}
nav {
  display: flex;
  position: absolute;
  gap: 3rem;
  top: 0;
  right: 0;
}

nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 3rem;
  background: linear-gradient(
      to bottom,
      #0065fc 0%,
      #0065fc 3px,
      transparent 1.1px
    )
    no-repeat;
  background-size: 0 100%;
  transition: background-size 0.7s ease;
}
nav a:visited {
  color: black;
}
nav a:hover {
  background-size: 100% 100%;
  color: #0065fc;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 3rem;
  box-sizing: border-box;
}
.titre {
  font-weight: 700;
  font-size: 22px;
}
.description {
  font-weight: 400;
  font-size: 16px;
}
.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
  padding: 0.2rem;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}
input {
  outline: transparent;
}

/****** Infos, Recherche et Filtre ***********/

/****INFOS*****/

.infos {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 0 2.5rem 0;
}

.searchbar-filtre {
  display: flex;
  flex-direction: column;
  margin: 0 0 2rem 0;
}

/****** Recherche *****/

.searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 3rem;
  margin: 0 0 2.5rem 0;
}
.icone-position {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0 0 15px;
  color: black;
  font-size: 18px;
}

#recherche {
  height: 2.8rem;
  width: 15rem;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  padding-left: 0.5rem;
}
#recherche::placeholder {
  font-weight: 300;
  font-size: medium;
  opacity: 0.3;
  color: black;
}

.bouton-recherche {
  width: 8rem;
  height: 3rem;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  background-color: #0065fc;
  border: 1px solid #0065fc;
  border-radius: 0 15px 15px 0;
}

/******Filtre******/

.barre-filtres {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin: 0 0 2.5rem 0;
}
.titre-filtres {
  font-weight: 700;
  font-size: 18px;
}

.barre-filtres button {
  display: flex;
  align-items: center;
  background: none;
  height: 3rem;
  padding: 0.4rem 1.2rem 0.4rem 1.2rem;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 700;
  font-size: 17px;
  gap: 0.5rem;
}
.barre-filtres button:hover {
  background-color: #deebff;
}
.barre-filtres button i {
  font-size: 22px;
}
.alerte-infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 2rem;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
}
.hebergements-cards .card {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 30%;
  height: auto;
}

.hebergements-cards img {
  height: 7rem;
  border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
  width: 100%;
  padding-left: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin-bottom: 0.3rem;
  margin-top: 0.5rem;
}

.hebergements-cards .card-subtitle {
  margin: 0 0 0.2rem 0;
}

.hebergements-cards .card-rating {
  margin-bottom: 0.5rem;
}
/****** Populaires ***********/
.populaires {
  width: 32%;
}
.populaires-cards {
  font-size: 14px;
}
.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 2rem;
}

.populaires-cards img {
  width: 33%;
  height: 8rem;
  border-radius: 20px 0 0 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 0.8rem;
  margin-bottom: 0.3rem;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 0.4rem;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1200px) */
@media (max-width: 1200px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 16px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
